.header{
    background: #B0E8D9;
    padding-left: 0.3em;
    padding-right: 0.3em; 
}

.span{
    color: #007AF3;
}

.navtitles{
    text-decoration: none;
    color : whitesmoke;
    font-size: 1.3em;
    opacity: 0.8; 
    font-weight: bold;

    
    
}
.navtitles:hover{
    opacity: 1;
    cursor: pointer;
}